<div class="container d-flex justify-content-between">
  <mat-card class="example-card mt-5">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Sorbet</mat-card-title>
      <mat-card-subtitle>Summer in a cup!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/sebastian-coman-photography--hM0-PSO3FY-unsplash.jpg" alt="Sorbet">
    <mat-card-content>
      <p>
        {{'Have you already had your fill of dairy but want to cool off? Then, sorbet is a perfect choice! This frozen delight has little to no dairy. It features a mix of fruit juice or purée, sweetened water, and egg whites. It’s perfect if you want a boozy kick to your cold dessert. You can add a drizzle of wine or liqueur for the perfect party treat.This dessert is fresh, light, and fruity. It’s like summer in a cup!' | truncate:308:'...'}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  

  <mat-card class="example-card mt-5">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Gelato</mat-card-title>
      <mat-card-subtitle>Italian Delish!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/sebastian-coman-photography--hM0-PSO3FY-unsplash.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       {{ 'Have you already had your fill of dairy but want to cool off? Then, sorbet is a perfect choice! This frozen delight has little to no dairy. It features a mix of fruit juice or purée, sweetened water, and egg whites. It’s perfect if you want a boozy kick to your cold dessert. You can add a drizzle of wine or liqueur for the perfect party treat.This dessert is fresh, light, and fruity. It’s like summer in a cup! This dessert is fresh, light, and fruity. It’s like summer in a cup! This dessert is fresh, light, and fruity. It’s like summer in a cup!' | truncate:308:'...' }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
</div>


